@import "./colors";
@import "./fonts";

html,
body {
  background-color: $background-color;
  padding: 0;
  margin: 0;
  font-family: $roboto;
  color: $font-color-dark;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
