@import "./colors";
@import "./mixins";
@import "./fonts";

.headerContainer {
  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;

    .headerContentLogo {
      z-index: 5;
      img {
        height: 70px;
        width: 70px;
        object-fit: cover;
      }
    }

    .navBar {
      z-index: 5;
      margin-right: 1rem;
      .navBarContent {
        font-family: $playfair;
        display: flex;
        gap: 1rem;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
  .headerCircle {
    position: absolute;
    top: -250px;
    right: 0;
    height: 400px;
    width: 400px;
    border-radius: 200px;
    border: 1px solid $accent-color-light;
    box-shadow: 0px 0px 20px 20px $accent-color-light;
    background-color: $accent-color-light;
    z-index: 0;
  }
}

@media only screen and (min-width: 800px) {
  .headerContainer {
    .headerContent {
      padding: 0.1rem 23rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .headerContainer {
    .headerContent {
      width: 100vw;
      padding: 0;
    }
  }
}
