@import "./colors";
@import "./mixins";
@import "./fonts";

.navBarContainer {
  .navBarContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
    right: 15px;
    top: 30vh;
    cursor: pointer;
    z-index: 100;
    .nav {
      background-color: $secondary-accent-color;
      height: 20px;
      width: 20px;
      border-radius: 20px;
      position: sticky;
      right: 0;
    }

    .nav:hover {
      transform: scale(1.5, 1.5);
    }
  }
}
